

* {
  box-sizing: border-box;
}

/* ========================================================
=========================FONT STYLES ====================
============================================================== */

html {
  font-family: "Merriweather", serif;
}

html {
  font-size: 16px;
}

.header_name {
  font-size: 1.3rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.banner_name {
  font-size: 1.3rem;
  font-weight: bold;
}

.contact_info legend,
.newsletter_options legend {
  font-size: 1.3rem;
  font-weight: bold;
}

.banner_content,
.footer p {
  font-size: 0.9rem;
  color: #919594;
  line-height: 1.4rem;
}

label,
.flex2 p {
  font-size: 0.9rem;
  color: #4F5252;
}

button {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}

.banner,
.footer {
  text-align: center;
}

.footer p {
  font-style: italic;
}

input,
textarea,
select {
  font-size: 0.8rem;
  color: #4F5252;
  line-height: 1.2rem;
}

input::placeholder {
  color: rgba(145, 149, 148, 0.9);
  text-align: right;
  font-style: italic;
}

textarea::placeholder {
  color: rgba(145, 149, 148, 0.9);
  text-align: left;
  font-style: italic;
}

.required {
  color: red;
}

/* ========================================================
========================= LAYOUT AND OTHER STYLES ====================
============================================================== */

/* ======================== PAGE ==========================
============================================================== */

.banner,
.newsletter_signup {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}


/* ======================== HEADER ==========================
============================================================== */

.header {
  background-color: #4A5C6D;
  margin: 0;
  padding: 20px 0;
}

.header_name {
  margin: 0 auto;
}

/* ======================== MAIN ==========================
============================================================== */

main {
  padding-bottom: 1.5rem;
  background: rgba(251, 216, 183, 0.2);
}

.banner {
  border-bottom: solid 3px black;
  padding: 20px 10px;
  margin-bottom: 3px
}

.container {
  border-top: solid 2px grey;
  padding: 10px 0;
}

.contact_info,
.newsletter_options {
  border: none;
  padding: 10px 0;
}

.contact_info legend,
.newsletter_options legend {
  padding: 10px 0;
}

.flex1,
.flex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.input_container {
  margin: 5px 0;
  border-radius: 5px;
  position: relative;
  background: rgba(220, 224, 227, 0.6);
  border-bottom: 3px solid grey;
}

.input_container:nth-of-type(-1n+6) {
  width: 100%;
}

.input_container:nth-of-type(7) {
  width: 50%;
}

.input_container > input,
.input_container > select,
.input_container > textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: transparent;
  transition: background 400ms ease-in;
}

.border {
  position: absolute;
  height: 100%;
  left: 0;
  bottom: -3px;
  width: 0;
  border-bottom: 3px solid #42BBAA;
  border-radius: 5px;
  transition: width 600ms ease-in-out;
}

input:focus + .border,
select:focus + .border,
textarea:focus + .border {
  width: 100%;
}

input:focus,
select:focus,
textarea:focus  {
  background: rgba(220, 224, 227, 1);
  outline: none;
}

input::placeholder {
  padding-right: 15px;
}

label {
  cursor: pointer;
}

.flex1 > label {
  margin-top: 15px;
  padding: 5px 0;
  width: 100%;
}

.flex2 input {
  margin-right: 10px;
  width: 6%;
}

.flex2 label:nth-of-type(-1n+5) {
  width: 90%;
  padding: 0;
  margin: 5px 0;
}

.flex2 p {
  width: 100%;
  margin: 15px 0 5px;
  padding: 5px 0;
}

.flex2 label:nth-of-type(6) {
  margin: 20px 0 5px;
}

textarea {
  resize: none;
}

button[type="submit"] {
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0, .29),
              inset 1px 1px 1px rgba(255,255,255, .44);
  border: none;
  padding: 10px 10px;
  background: #42BBAA;
}

button:hover {
  cursor: pointer;
}

/* ======================== FOOTER ==========================
============================================================== */

footer {
  padding: 2rem 0;
  background: rgba(251, 216, 183, 0.2);
}
